body {
    background-color: rgb(240, 217, 188);
    box-sizing: border-box;
}
h1{
    translate: 0px -20px;
    color: red;
    font-size: 60px;
    height: 15px;
    width: 100%;
    text-align: center;
    font-family: christmas font;
}
section{
    margin: 50px 50px;
    padding: 50px;
    border-radius: 15px;
    border: 2px solid rgb(255, 171, 171);
    background-color: rgb(239, 239, 239);    
    padding: 0px 15px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: christmas font;
  src: url(assets/last_christmas/LastChristmas_PERSONAL_USE_ONLY.otf);
}